<div class="navbar  navbar-default  navbar-main  navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle  collapsed" data-toggle="collapse" data-target="#navbar-main-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa  fa-bars  fa-2x" aria-hidden="true"></i>
        <i class="fa  fa-times  fa-2x" aria-hidden="true"></i>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img alt="{{ site.name | escape }}" src="{{ site.baseurl }}/assets/images/logo.svg">
      </a>
    </div>
    <div class="collapse  navbar-collapse" id="navbar-main-collapse">
      <ul class="nav  navbar-nav">
        <li><a href="{{ site.baseurl }}/">Item 1</a></li>
      </ul>
    </div><!-- eo .navbar-collapse -->
  </div><!-- eo .container -->
</div>
